<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Convert Temperature</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div id="calculatorWrap">
		<!-- InstanceBeginEditable name="Calculator" -->
		<form action="temperature.php" method="post" class="calculatorForm" id="CalculatorForm" name="CalculatorForm"
			onsubmit="calculateButtonWorking()">
			<h2 itemprop="name" class="calculatorTitle">Convert Temperature</h2>
			<div class="calculatorInputs">
				<div class="calculatorInputGroup">
					<label for="input_value">Value to Convert:</label>
					
					<input id="input_value" name="input_value" value="" class="nmbr_real real" type="text"
						title="real number" autofocus required />						
				</div>
				</br>
				<div class="calculatorInputGroup">
					<label for="input">From:</label> <select name="input" id="input" size="1">
						<option value="celsius" selected="selected">Celsius (&deg;C)</option>
						<option value="fahrenheit">Fahrenheit (&deg;F)</option>
						<option value="kelvin">kelvin (K)</option>
						<option value="rankine">Rankine (&deg;R)</option>
					</select>
				</div>
				<br>
				<div class="calculatorInputGroup">
					<label for="output">To:&nbsp;&nbsp;&nbsp;&nbsp;</label>
					<select name="output" id="output" size="1">
						<option value="celsius">Celsius (&deg;C)</option>
						<option value="fahrenheit" selected="selected">Fahrenheit (&deg;F)</option>
						<option value="kelvin">kelvin (K)</option>
						<option value="rankine">Rankine (&deg;R)</option>
					</select>
				</div>
			</div>
			</br>
			<div>
				<input type="submit" value="Calculate" class="btn" name="calculateButton" id="calculateButton">
				<input type="reset" name="reset" value="Clear" class="btn" onclick="return resetCalculator(this.form);">
			</div>
			<div class="clearBoth"></div>
			</br>
			<div id="calculatorAnswer"> Result:
				<br>
				<div id="answer"><br></div>
			</div>
			<input type="hidden" name="action" value="solve" />
			<input type="hidden" name="page_id" value="MTYyNDg1Mjk5Mw==" />
		</form>
		<!-- InstanceEndEditable -->

	</div>

</body>

</html>