<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Convert Temperature</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<form action="tempature.php" method="post" class="calculatorForm" id="CalculatorForm" name="CalculatorForm"
		onsubmit="calculateButtonWorking()">
		<h2 itemprop="name" class="calculatorTitle">Result Validation</h2>
		<div class="row">
			<div class="col">
				<label for="formGroupExampleInput">Input Numerical Value: </label>
				<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Value to Convert">
			</div>
			</br>
			<div class="col">
				<label for="formGroupExampleInput1">Input Unit of Measure: </label>
				<input type="text" class="form-control" id="formGroupExampleInput1"
					placeholder="Temperature to Convert">
			</div>
		</div>
		</br>
		<div class="row">
			<div class="col">
				<label for="formGroupExampleInput">Target Unit of Measure: </label>
				<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Target Temperature">
			</div>
			</br>
			<div class="col">
				<label for="formGroupExampleInput1">Student Response: </label>
				<input type="text" class="form-control" id="formGroupExampleInput1" placeholder="Student Value">
			</div>
			</br>
			<div class="form-group row">
				<label for="staticEmail" class="col-sm-2 col-form-label">Output</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext" id="staticEmail"
						placeholder="Result">
				</div>
			</div>
		</div>
		</br>
		<input type="submit" value="Validate" class="btn" name="calculateButton" id="calculateButton">
		<input type="reset" name="reset" value="Clear" class="btn" onclick="return resetCalculator(this.form);">
		</div>
		<div class="clearBoth"></div>
	</form>



</body>

</html>